 <center><h1>DASHBOARD</h1></center>
<h2> Welcome <%= current_user.name %> !</h2>
<% if current_user.admin? %>
	<h3> You are an administrator.</h3>
<% else %>
	<h3> You are a student user.</h3>	
<% end %>
<br>

<!--
<h3><a href= '/schools'>Featured Universities</a></h3>
<li> LSUS</li>
<li> Southern University </li>
<br />

<h3><a href="/schools">List of Current Schools</a></h3>

<% if can? :manage, School %>
	<h3><a href="/new_school">Add a New School</a></h3>
<% end %>
<br>

<h3>Your Information</h3>
<br />
<b> Email: </b>  <%= current_user.email %>
<br />
<b> Last Sign In: </b> : <%= current_user.last_sign_in_at %>
<br />
<b> Birthday: </b> <%= current_user.date_of_birth %>
<br />
<b> Gender: </b> <%= current_user.gender %>
<br />
<% if current_user.admin? %>
<b> Your School: </b> <%= current_user.school %>
<% end %>
<br />


<%= link_to "Edit Account Info", edit_user_registration_path %>

<br />

<% if can? :manage, Checklist %>
<%= link_to "Create New Checklist for your School", new_checklist_path %>
<% end %>
<br />


<h3>Cancel my account</h3>
<p>This action is irreversible <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<center><h1>DASHBOARD</h1></center>
<h2> Welcome <%= current_user.name %>!</h2>
<% if current_user.admin? %>
	<h3> You are an administrator.</h3>
<% else %>
	<h4> You are a student user.</h4>	
	<br>
<% end %> -->

<!-- View -->
            <!--Featured Univeristies -->
            <div class="row">
                <div class="col-lg-6 col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-5">
                                    <i class="fa fa-comments fa-7x"></i>
                                </div>
                                <div class="col-xs-11 text-center">
                                    <div><b><p style="font-size:27px">Featured Univeristies</p></b></div>
                                </div>
                            </div>
                        </div>
                        <a href="/schools">
                            <div class="panel-footer">
                                <span class="pull-left">List of Current Schools </span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>                               
					<% if can? :manage, School %>
						<a href="/new_school">Add a New School</a>
					<% end %>
				    <br> 
                            </div>
                        </a>
                    </div>
                </div>
            <!--Your Information -->
                <div class="col-lg-6 col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-5">
                                    <i class="fa fa-tasks fa-7x"></i>
                                </div>
                                <div class="col-xs-11 text-center">
                                    <div><b><p style="font-size:27px">Your Information</p></b></div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                            <b> Name: </b> <%= current_user.name %> <%= current_user.last_name %>
                            <br />
				<b> Email: </b>  <%= current_user.email %>
				<br />
				<b> Birthday: </b> <%= current_user.date_of_birth %>
				<br />
				<b> Gender: </b> <%= current_user.gender %>
				<br />
				<b> Last Sign In: </b> : <%= current_user.last_sign_in_at %>
				<br />							
				<% if current_user.admin? %>
				<b> Your School: </b> <%= current_user.school %>
				<% end %>
				<br />
                            </div>
                    </div>
                </div>
                <!-- Checklist -->
                <div class="col-lg-6 col-md-3">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-5">
                                    <i class="fa fa-shopping-cart fa-7x"></i>
                                </div>
                                <div class="col-xs-11 text-center">
                                    <div><b><p style="font-size:27px">Checklist</p></b></div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
				<% if can? :manage, Checklist %>
				<%= link_to "Create New Checklist for your School", new_checklist_path %>
				<% end %>
				<br />
                            </div>
                    </div>
                </div>
                <!-- Account Information -->
                <div class="col-lg-6 col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-5">
                                    <i class="fa fa-support fa-7x"></i>
                                </div>
                                <div class="col-xs-11 text-center">
                                    <div><b><p style="font-size:27px">Account Information</p></b></div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                            	<%= link_to "Edit Account Info", edit_user_registration_path %>
					               <br>
                                   <br>
				                    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
                                            <p style="font-size:11px">*This action is irreversible</p>
                            </div>
                    </div>
                </div>
            </div>
