<center><h1>DASHBOARD</h1></center>
<h2> Welcome <%= current_user.name %> !</h2>


<h3><a href= '/schools'>Featured Universities</a></h3>
<li> LSUS</li>
<li> Southern University </li>
<br />

<h3><a href="/schools">List of Current Schools</a></h3>
<h3><a href="/new_school">Add a New School</a></h3>
<br>

<h3>Your Information</h3>
<br />
<b> Email: </b>  <%= current_user.email %>
<br />
<b> Last Sign In: </b> : <%= current_user.last_sign_in_at %>
<br />
<b> Birthday: </b> <%= current_user.date_of_birth %>
<br />
<b> Gender: </b> <%= current_user.gender %>
<br />

<%= link_to "Checklists", checklist_path(current_user) %>


<%= link_to "Edit Account Info", edit_user_registration_path %>

<h3>Cancel my account</h3>
<p>This action is irreversible <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>