<center><h2>Log in</h2></center>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
  	<div class="row">
    	<div class="col-md-6 col-md-offset-3"> 
    		<br>
    		<%= f.input :email, required: false, autofocus: true %>
    		<%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

		<div class="form-actions">
    		<%= f.button :submit, "Log in" ,:style => 'color:#FFFFFF;',class: "btn btn-lg btn-info btn-block"%>
  		</div>

<% end %>
<center>
<%= render "devise/shared/links" %>
</center>
</div>
</div>
<br>
<br>
