<center><h1>Create a New School<h1></center>

<%= form_for(School.new) do |f| %>
  <div class="form-group"

  <fieldset>
  <legend>
    <span 
      class="number"> 1 
    </span> School Basic Information
  </legend>

<center>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <!-- No. 1 -->
      <div class="row">

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">
          <%= f.label :name %><br>
         <%= f.text_field :name %>
        </div>

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">
          <%= f.label :abbreviation %><br>
          <%= f.text_field :abbreviation %>
        </div>

      </div>

      <!-- No. 1 -->
      <div class="row">

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </div>

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">
<!--           <div class="form-group"> -->
            <%= f.label :city %><br>
            <%= f.text_field :city %>
        </div>

      </div>

      <!-- No. 1 -->
      <div class="row">

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">
          <%= f.label :state %><br>
          <%= f.text_field :state %>
        </div>

      </div>

  </center>

      <fieldset>
      <legend>
        <span 
          class="number"> 2 
        </span> School Detailed Information
      </legend>

<center>

      <!-- No. 1 -->
      <div class="row">

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">
          <%= f.label :semester_tuition %><br>
          <%= f.text_field :semester_tuition %>
        </div>

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">        
          <%= f.label :athletics %> 
          <%= f.text_area :athletics %>
        </div>

      </div>

</center>
      
    <fieldset>
      <legend>
        <span class="number"> 3 
        </span> International Student Information
      </legend>

<center>

      <!-- No. 1 -->
      <div class="row">

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">      
          <%= f.label :school_contact_name %> 
          <%= f.text_field :school_contact_name %>
        </div>

        <!-- No. 2 -->
        <div class="col-sm-6 form-group">           
          <%= f.label :school_contact_email %> 
          <%= f.text_field :school_contact_email %>
        </div>
      </div>

      <p>
      <%= f.submit %>
      </p>
</center>
    <% end %>

